@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  img,
  video,
  svg,
  canvas {
    display: block;
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }
}
